<!-- Footer legal -->
<div class="footer-container">
	<div class="footer-section">
		<div class="personal-row-col-footer">
			<div class="footer-menu w-100" style="align-content: space-evenly;">
				<h1 id="lecturer-name-id">
					Einav Peretz Andersson
				</h1>
				<h2 id="position">
					Lecturer and PhD student
				</h2>
				<p class="footer-description">
					I am deeply passionate about exploring innovative solutions related to AI technologies and organizational change, with a strong focus on interdisciplinary approaches, and committed to bridging the gap between academic knowledge and real-world impact.
				</p>
				<div class="personal-row footer-details-icons">
						<img title="email" src="/img/footer/email.png" />
					<p id="email-address">einav.peretz.andersson@ju.se</p>
				</div>
				<div class="personal-row footer-details-icons">
						<img title="phone" src="/img/footer/phone.png" />
					<p id="phone-number">+46 36-10 1713</p>
				</div>
				<div class="personal-row">
					<p>Find me on:</p><br>
				</div>
				<div class="personal-row footer-social">
					<a href="mailto:einav.peretz.andersson@ju.se" class="footer-social-icons footer-find-me-mail-and-phone" title="email" id="footer-email">
						<img title="email" src="/img/footer/email.png" />
					</a>
					
					<a href="tel:+4636101713" class="footer-social-icons footer-find-me-mail-and-phone" title="phone" id="footer-phone">
						<img title="phone" src="/img/footer/phone.png" />
					</a>
					
					<a href="https://scholar.google.com/citations?hl=en&user=kfEJa0EAAAAJ" class="footer-social-icons" title="google profile" id="footer-google">
						<img title="google profile" src="/img/footer/google.png" />
					</a>
					
					<a href="https://www.linkedin.com/in/einav-peretz-andersson/" class="footer-social-icons" title="github profile" id="footer-github">
						<img title="linkedin profile" src="/img/footer/linkedin.png" />
					</a>
				</div>
			</div>
			<div class="personal-coloum w-100" style="align-content: space-evenly;" id="footer-menu-row"> 
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/about.html">
							About
						</a>
						<a class="footer-menu-item" href="/about.html?section=Biography">
							Biography
						</a>
						<a class="footer-menu-item" href="/about.html?section=Personal-projects">
							Personal Projects
						</a>
						<a class="footer-menu-item" href="/about.html?section=Recommended-resources">
							Recommended resources
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/research.html">
							Research
						</a>
						<a class="footer-menu-item" href="/research.html?section=Ongoing-Projects">
							 Ongoing projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Previous-Projects">
							 Previous projects
						</a>
						<a class="footer-menu-item" href="/research.html?section=Work-with-me">
							Work with me
						</a>
					</div>
				</div>
				<div class="footer-bottom-links w-100" style="align-content: space-evenly;">
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/publications.html">
							Publication
						</a>
					</div>
					<div class="footer-menu w-100">
						<a class="footer-menu-title" href="/teaching.html">
							Courses
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div class="footer-section">
	<div class="personal-row center brand-footer" >
		<a href="#" title="An academic website generator">Powered by <img title="An academic website generator" src="/img/logo.png" /></a>
	</div>
	<div class="year-logo">
		<span>© 2025 </span>
		<a href="#">Privacy - Terms</a>
	</div>
</div> 

		
<div class="alert" id="alert-panel-1">
  <span id="alert-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="cite-alert">
  </div>
</div>
		
<div class="alert" id="alert-panel-2">
  <span id="search-close-btn" class="closebtn" onclick="this.parentElement.style.opacity=0;"></span>
  <div id="search-alert">
  </div>
</div>
